<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
Highlight Eqarth Quack Scale Matching And Above Magnitude.: 
<input type="number" placeholder="0.1" 
ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" (change)="highLight($event)" [(value)]="filterValue" />

<BR/><ul><li style="font-weight: bold;">Place ----- Scale Magnitude</li></ul>
<ul *ngFor = "let data of serviceData">
   <li>
   <div [className]="data.scale >= filterValue ? 'highlight' : 'regular'">
   {{data.place}} ----- {{data.scale}}</div>
   </li>
   
</ul>

<router-outlet></router-outlet>
